<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/login']">
      Login
    </button>
    <button
      mat-button
      *ngIf="!(isLoggedIn$ | async)"
      [routerLink]="['/signup']"
    >
      Sign Up
    </button>
    <button mat-button *ngIf="isLoggedIn$ | async" (click)="logout()">
      Log Out
    </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row *ngIf="isLoggedIn$ | async">
    <button
      mat-button
      [routerLink]="['/browse-listings']"
    >
      Browse Listings
    </button>
  </mat-toolbar-row> -->
</mat-toolbar>
<router-outlet></router-outlet>
